
* {box-sizing: border-box;}
.wrapper {
max-width: 1500px;
margin: 0 auto;
background:yellow ;
}
.wrapper > div {
border: 1px solid rgb(126, 88, 11);
border-radius: 5px;
background-color: rgb(255, 255, 255);
padding: 1em;
color: black;
}.wrapper {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 5px;
grid-auto-rows: minmax(120px, auto);
}
/*Header*/
.one {
grid-column: 1 / 5;
grid-row: 1;
}
#logo{
   width: 350px;
   height: 100px;
}
#mySearch{
   margin-left: 120px;
   margin-top: 5px;
}
#boton{
margin-right: 10px;
}
#login{
   width: 70px;
   height: 60px;
   margin-left: 500px;
}
.three {
grid-column: 1;
grid-row: 2 / 6;
}
/*Footer*/
#six {
   grid-column: 2/ 5;
   grid-row: 2 / 6;
  }

  #six .container-table{
    width: auto;
    overflow: scroll;
    max-height: 600px;
  }