body{
    background: yellow;
    width: 100%;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
}
.contenedor{
    height: 662px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:yellow;
}
.formulario{
    width: 280px;
    height: 250px;
    border-color:bisque solid 1px;
    background: white;
}
.img{
    width: 100%;
    margin: 10px auto 12px;
    max-width: 200px;
    display: block;
}
div{
text-align: center;
}
.controls{
    margin-bottom: 20px;
}
.writeMail{
    margin-bottom: 20px;
}
.nameusers{
    padding: 3px;
}
.cajaText1{
    margin-top: 5px;
}
.cajaText2{
    margin-top: 5px;
    font: inherit;
}
